@model Modulo_Producto.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1 class="text-center"><span class="highlight">Detalles del Producto</span></h1>

<div class="alert alert-info mt-3">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoBarra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoBarra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioCosto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioMayoreo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioMayoreo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Impuestos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Impuestos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TieneInventario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TieneInventario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Minimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Minimo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-warning" asp-action="Index">Regresar</a>
</div>
