@model IEnumerable<Modulo_Producto.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1 class="text-center"><span class="highlight">Productos</span></h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-dark align-top text-center">
            <th>
                @Html.DisplayNameFor(model => model.CodigoBarra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioMayoreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuestos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieneInventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minimo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoBarra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioCosto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioMayoreo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Impuestos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TieneInventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Minimo)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-danger btn-sm mt-2" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
